nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000;
    padding: 15px 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 1000;
}

.logo {
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.nav-links a:hover {
    color: #00bcd4;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
	padding-top: 60px;
}

header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #111;
    color: white;
    text-align: center;
    padding-top: 60px;
}

header h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

header p {
    font-size: 18px;
    opacity: 0.8;
}

section {
    padding: 50px 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

#about {
    background-color: #f4f4f4;
}

#projects {
    background-color: #ffffff;
}

.project-card {
    background: #f9f9f9;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
}

.project-card h3 {
    margin-top: 0;
}

.project-card a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #111;
    font-weight: bold;
}

.project-card a:hover {
    text-decoration: underline;
}