body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    padding: 100px 20px;
    background-color: #111;
    color: white;
}

section {
    padding: 80px 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

#about {
    background-color: #f4f4f4;
}